[submodule "LearnOpenGL/Vendor/assimp"]
	path = LearnOpenGL/Vendor/assimp
    url = https://github.com/assimp/assimp.git
    branch = master
[submodule "LearnOpenGL/Vendor/glad"]
	path = LearnOpenGL/Vendor/glad
	url = https://github.com/Dav1dde/glad.git
    branch = c
[submodule "LearnOpenGL/Vendor/glfw"]
	path = LearnOpenGL/Vendor/glfw
	url = https://github.com/glfw/glfw.git
    branch = master
[submodule "LearnOpenGL/Vendor/glm"]
	path = LearnOpenGL/Vendor/glm
	url = https://github.com/g-truc/glm.git
    branch = master
[submodule "LearnOpenGL/Vendor/stb"]
	path = LearnOpenGL/Vendor/stb
	url = https://github.com/nothings/stb.git
    branch = master
[submodule "LearnOpenGL/Vendor/bullet"]
	path = LearnOpenGL/Vendor/bullet
	url = https://github.com/bulletphysics/bullet3.git
    branch = master
